# Composer
.composer
vendor/*
!*/vendor/*

# Grav Specific
backup/*
!backup/.*
cache/*
!cache/.*
assets/*
!assets/.*
logs/*
!logs/.*
images/*
!images/.*
user/localhost/config/security.yaml
user/config/security.yaml
user/themes/antimatter/css-compiled/*
css-compiled/*
user/themes/antimatter/.sass-cache/*
user/themes/antimatter/css-compiled/*
