{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="block-link">
		<a href="{{ particle.link|e }}">
			{% if particle.image %}<img src="{{ url(particle.image) }}" class="logo-large" alt="{{ particle.headline|e }}" />{% endif %}
			{% if particle.headline %}<h2>{{ particle.headline|raw }}</h2>{% endif %}
		</a>
	</div>
{% endblock %}
