{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="people pure-g">
    {% for person in page.header.people | randomize %}
        <div class="person pure-u-1 pure-u-md-1-3">
            <img src="{{ page.media[person.image].url }}">
            <div class="name">{{ person.name }}</div>
            <div class="role">{{ person.role }}</div>
        </div>
    {% endfor %}
</div>
{% endblock %}
