.block-link {
    a {
        display: block;
        background: rgba(255,255,255,0.2);
        &:hover {
            background: rgba(255,255,255,0.3);
        }
        padding: 20px;
        h2 {
            text-align: center;
        }
    }
}
