@import 'people.scss';
@import 'block-link.scss';

#g-showcase {
    .showcase-link {
        .g-content .g-content {
            background: rgba(255,255,255,0.2);
        }
    }
}

#g-navigation {
    @if $navigation-image {
      background-image: url($navigation-image);
      background-size: cover;
      background-position: 0px 380px;
    }
}

.info-box {
  background-color: #DCD4A5;
  border: 3px solid white;
  padding: $content-padding;
  border-radius: $core-border-radius;
  text-align: left;
}

.fa-box {
  font-size: 4rem;
  color: #795548;
  margin: 1rem 1rem 1rem 1rem
}
