@import 'people.scss';
@import 'block-link.scss';

#g-showcase {
    .showcase-link {
        .g-content .g-content {
            background: rgba(255,255,255,0.2);
        }
    }
}

#g-navigation {
    @if $navigation-image {
      background-image: url($navigation-image);
      background-size: cover;
      background-position: 0px 380px;
    }
}

.info-box {
  background: darken($main-background, 4%);
  border: 1px solid darken($main-background, 10%);
  padding: $content-padding;
  border-radius: $core-border-radius;
  margin-bottom: 4rem;
}

.fa-box {
  color: darken($main-background, 15%);
  margin: 1rem 2rem 1rem 1rem;
  font-size: 6rem;
}
