.people {
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 130px;
        width: 260px;
    }
    > div {
        text-align: center;
        font-size: 1.3rem;
    }
    .role {
        font-style: italic;
    }
    .person {
        padding: 60px;
    }
}
